<?xml version="1.0"?>
<launch>
  <arg name="frame_id" default="vectornav"/>
  <arg name="serial_port" default="/dev/ttyUSB0"/>

  <node pkg="vectornav" type="vnpub" name="vectornav" output="screen" >
    <param name="frame_id" value="$(arg frame_id)"/>
    <rosparam command="load" file="$(find vectornav)/params/vn100.yaml" subst_value="true"/>
  </node>

</launch>
